@{
    ViewData["Title"] = "User Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Title"].</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="@Model.ProfileImage" alt="" class="img-fluid rounded-circle" />
        </div>
        <div class="col-md-4">
            <h3>@Model.Name</h3>
            <p>
                <i class="fas fa-envelope"></i> @Model.EmailAddress
            </p>
        </div>
    </div>
</div>
