<link rel="stylesheet" href="~/css/error.css" />
<div class="wrapper">
    <div class="box">
        <p>Sorry, it's me, not you.</p>
        <p>&#58;&#40;</p>
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <p class='sub-text'>Error message: @ViewData["ErrorMessage"]</p>
        }
        <p><a href="javascript:history.back()">Go Back</a></p>
    </div>
</div>