@using StatybuWeb.Dto;
@model List<Picture>

<input type="checkbox" id="toggleCheckbox"> Show Image Selection
@{
    var nameList = new List<string>();
}

@using (Html.BeginForm("DeleteImages", "Admin", FormMethod.Post))
{
    <div class="main-gallery">
        @foreach (var picture in Model)
        {
            <div class="gallery-cell">
                <input type="checkbox" name="fileNames" value="@picture.Name" class="imageCheckbox" onchange="updateNameList(this)" style="display: none" />
                <img src="@picture.Uri?.AbsoluteUri.ToString()" data="@picture.Name" alt="Image">
            </div>
        }
    </div>

    <div class="form-group">
        <button type="submit"name="submit" value="submit" class="btn btn-primary">Delete Selected Images</button>
    </div>

    <input type="hidden" name="nameList" value="" />
}

@using (Html.BeginForm("UploadImage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="file">Select file:</label>
        <input type="file" id="file" name="file" class="form-control-file" />
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
}
<script src="/js/flickity.pkgd.min.js"></script>

<!-- Initialize the carousel -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var flkty = new Flickity('.main-gallery', {
            wrapAround: true
            // Configure Flickity options here
        });
    });

    const toggleCheckbox = document.getElementById("toggleCheckbox");
    const imageCheckboxes = document.getElementsByClassName("imageCheckbox");

    toggleCheckbox.addEventListener("change", function () {
        const showImageSelection = toggleCheckbox.checked;
        for (let i = 0; i < imageCheckboxes.length; i++) {
            imageCheckboxes[i].style.display = showImageSelection ? "block" : "none";
        }
    });

    function updateNameList(checkbox) {
        var value = checkbox.value;
        var nameListInput = document.querySelector('input[name="nameList"]');
        if (checkbox.checked) {
            nameList.push(value);
        } else {
            var index = nameList.indexOf(value);
            if (index !== -1) {
                nameList.splice(index, 1);
            }
        }
        nameListInput.value = nameList.join(",");
    }
</script>


<!-- Include Flickity CSS -->
<link rel="stylesheet" href="/css/flickity.min.css">